<div class="container">
  <h1 class="mt-4 mb-3">Product
  </h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <h6>Description</h6>
    </li>
  </ol>
  <img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt="">
  <div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-10">
        <a (click)="selectedBrand('Thai 3K Plastic')">
          <img class="card-img-top" src="http://placehold.it/700x400" alt="" height="120">
        </a>
        <div class="card-body">
          <h5>Thai 3K Plastic</h5>
          <p class="card-text">ผลิตและจำหน่ายสินค้าพลาสติกและสายไฟฟ้าครบวงจร</p>
        </div>
        <div class="card-footer">
          <a (click)="selectedBrand('Thai 3K Plastic')">ดูสินค้าเพิ่มเติม</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-10">
        <a (click)="selectedBrand('KANOK Products')">
          <img class="card-img-top" src="../assets/kanok.jpg" alt="" height="120">
        </a>
        <div class="card-body">
          <h5>KANOK Products</h5>
          <p class="card-text">ตัวแทนจำหน่าย อุปกรณ์ระบบน้ำทางการเกษตรครบวงจร</p>
        </div>
        <div class="card-footer">
          <a (click)="selectedBrand('KANOK Products')">ดูสินค้าเพิ่มเติม</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-10">
        <a (click)="selectedBrand('Nano Electrics')">
          <img class="card-img-top" src="../assets/nano.jpg" alt="" height="120">
        </a>
        <div class="card-body">
          <h5>Nano Electric</h5>
          <p class="card-text">จำหน่ายชิ้นส่วนพลาสติกใช้ในงานวิศวกรรมและอุตสาหกรรม</p>

        </div>
        <div class="card-footer">
          <a (click)="selectedBrand('Nano Electrics')">ดูสินค้าเพิ่มเติม</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-10">
        <a (click)="selectedBrand('Zeberg')">
          <img class="card-img-top" src="../assets/zeberg.jpg" alt="" height="120">
        </a>
        <div class="card-body">
          <h5>Zeberg</h5>
          <p class="card-text">ตัวแทนนำเข้าและผลิตอุปกรณ์ไฟฟ้าที่ใช้ในอุตสาหกรรม</p>
        </div>
        <div class="card-footer">
          <a (click)="selectedBrand('Zeberg')">ดูสินค้าเพิ่มเติม</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>