<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['Home']"> THAI &nbsp; 3K &nbsp; Plastic </a>
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        (click)="navResponsive()" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarResponsive" style="display:none;">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['Home']" [routerLinkActive]="['active']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['Insert']" [routerLinkActive]="['active']">New Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['Contact']" [routerLinkActive]="['active']">Contact</a>
          </li>



          <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portfolio
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
                <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
                <a class="dropdown-item" href="blog-post.html">Blog Post</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Pages
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="full-width.html">Full Width Page</a>
                <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                <a class="dropdown-item" href="faq.html">FAQ</a>
                <a class="dropdown-item" href="404.html">404</a>
                <a class="dropdown-item" href="pricing.html">Pricing Table</a>
              </div>
            </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet>

  </router-outlet>
  <footer class="py-5 bg-dark"> 

      <div class="container" style="text-align:center;"> 
      <table style="margin-left:20%;margin-right:20%;"> 
      <tr> 
      <td style="padding-right:10%;"> 
      <div class="m-0 text-center text-white" style="display: inline-block;"> 
      <img src="../assets/Resource/facebook.jpg" style="width:27px;height:25px;">&nbsp;&nbsp; 
      <p style="color:white;display:inline;">{{company.CompanyFacebook}}</p> 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <img src="../assets/Resource/line.jpg" style="width:27px;height:25px;">&nbsp; 
      <p style="color:white;display:inline;">{{company.CompanyLine}}</p> 
      <br> 
      <img src="../assets/Resource/email.jpg" style="width:27px;height:25px;">&nbsp; 
      <p style="color:white;display:inline;">{{company.CompanyEmail}}</p> 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <img src="../assets/Resource/phone.jpg" style="width:27px;height:25px;">&nbsp; 
      <p style="color:white;display:inline;">{{company.CompanyTel}}</p> 
      <br> 
      <br> Copyright &copy; Website Name 2017. 
      <small>address</small> 
      </div> 
      </td> 
      <td style="padding-left:50%;"> 
      
      
      <img style="display: inline-block;" src="../assets/Resource/QRCODE.JPG" style="width:102px;height:102;"> 
      </td> 
      </tr> 
      </table> 
      </div> 
      <!-- /.container --> 
      </footer>

  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/jquery/jquery.min.js"></script>
</body>