<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['Home']"> Thai &nbsp; 3K &nbsp; Plastic </a>
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        (click)="navResponsive()" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarResponsive" style="display:none;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['Home']" [routerLinkActive]="['active']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['Insert']" [routerLinkActive]="['active']">New Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['Contact']" [routerLinkActive]="['active']">Contact</a>
          </li>
          <li class="nav-item" *ngIf="state!=null">
            <a class="nav-link" (click)="logout()">Signout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet>

  </router-outlet>

  <footer class="py-5 bg-dark">

    <div class="container" style="text-align:center;">
      <div class="m-0 text-center text-white">
        <table>
          <tr>
            <td>

              <img src="../assets/Resource/facebook.jpg" style="width:27px;height:25px;">&nbsp;&nbsp;
              <p style="color:white;display:inline;">{{company.CompanyFacebook}}</p>
            </td>
            <td>
              <img src="../assets/Resource/line.jpg" style="width:27px;height:25px;">&nbsp;
              <p style="color:white;display:inline;">{{company.CompanyLine}}</p>
            </td>

            <td rowspan="2" style="padding-left:25%;">
              <img style="display: inline-block;" src="../assets/Resource/QRCODE.JPG" style="width:120px;height:120;">
            </td>
            <tr>
              <td>
                <img src="../assets/Resource/email.jpg" style="width:27px;height:25px;">&nbsp;
                <p style="color:white;display:inline;">{{company.CompanyEmail}}</p>
                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
              </td>
              <td>
                <img src="../assets/Resource/phone.jpg" style="width:27px;height:25px;">&nbsp;
                <p style="color:white;display:inline;">{{company.CompanyTel}}</p>
              </td>



            </tr>
        </table>
      </div>
      Copyright &copy; Website Name 2017.
      <small>{{company.CompanyAddress}}</small>
    </div>
  </footer>

  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/jquery/jquery.min.js"></script>
</body>