<body class="body">
  รหัสสินค้า
  <input type="text" name="prodNo">
  <br> ชื่อสินค้า
  <input type="text" name="prodName">
  <br> ชื่อสินค้าภาษาอังกฤษ
  <input type="text" name="proNameEng">
  <br> รายละเอียดสินค้า
  <br>
 
  <small>
    <i>รูปแบบตัวอย่าง(ไม่จำเป็นต้องกรอกให้ครบทั้งหมด)</i>
  </small>
  <br>
  <br>
  


  <div align="center" class="container">

    <table align="center">
      <thead>
        <tr>
          <th></th>
          <th class="header">
            <input class="input" type="text" placeholder="กรอกหัวข้อของสินค้า" />
          </th>
          <th class="header">
            <input class="input" type="text" placeholder="กรอกหัวข้อของสินค้า" />
          </th>
          <th class="header">
            <input class="input" type="text" placeholder="กรอกหัวข้อของสินค้า" />
          </th>
          <th class="header">
            <input class="input" type="text" placeholder="กรอกหัวข้อของสินค้า" />
          </th>
          <th class="header">
            <input class="input" type="text" placeholder="กรอกหัวข้อของสินค้า" />
          </th>
          <th class="header">
            <input class="input" type="text" placeholder="กรอกหัวข้อของสินค้า" />
          </th>
          <th class="header">
            <input class="input" type="text" placeholder="กรอกหัวข้อของสินค้า" />
          </th>
          <th class="header">
            <input class="input" type="text" placeholder="กรอกหัวข้อของสินค้า" />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of productDetail">
          <td>
            <input class="input" type="checkbox" [(ngModel)]="selected" (click)="selected(row)" />
          </td>
          <td>
            <input class="input" type="text" placeholder="กรอกข้อมูลตามหัวข้อสินค้า" [(ngModel)]="row.detail1" />
          </td>
          <td>
            <input class="input" type="text" placeholder="กรอกข้อมูลตามหัวข้อสินค้า" [(ngModel)]="row.detail2" />
          </td>
          <td>
            <input class="input" type="text" placeholder="กรอกข้อมูลตามหัวข้อสินค้า" [(ngModel)]="row.detail3" />
          </td>
          <td>
            <input class="input" type="text" placeholder="กรอกข้อมูลตามหัวข้อสินค้า" [(ngModel)]="row.detail4" />
          </td>
          <td>
            <input class="input" type="text" placeholder="กรอกข้อมูลตามหัวข้อสินค้า" [(ngModel)]="row.detail5" />
          </td>
          <td>
            <input class="input" type="text" placeholder="กรอกข้อมูลตามหัวข้อสินค้า" [(ngModel)]="row.detail6" />
          </td>
          <td>
            <input class="input" type="text" placeholder="กรอกข้อมูลตามหัวข้อสินค้า" [(ngModel)]="row.detail7" />
          </td>
          <td>
            <input class="input" type="text" placeholder="กรอกข้อมูลตามหัวข้อสินค้า" [(ngModel)]="row.detail8" />
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="addRow()">เพิ่มบรรทัดใหม่</button>
  </div>




  <!-- คำอธิบายเพิ่มเติม
  <input type="text" name="prodDesc">
  <br>
  <input type="text" name="proNameEng">
  <br>
  <input type="text" name="proNameEng">
  <br>
  <input type="submit" value="Submit"> -->
</body>